{% extends "base.html" %}
{% block title %}Tristan Havelick -- Blogroll{% endblock %}
{% block content %}
  <a href="/">Tristan Havelick.com</a>
  <h1>Blogroll</h1>
  <ul>
    <li>
      <a href="http://ajroach42.com/">~ajroach42.com</a>
      <a href="https://ajroach42.com/feed.xml">[rss]</a>
    </li>
    <li>
      <a href="https://anarchosolarpunk.substack.com">Anarcho Solarpunk</a>
      <a href="https://anarchosolarpunk.substack.com/feed">[rss]</a>
    </li>
    <li>
      <a href="https://awesomekling.substack.com">Andreas Kling</a>
      <a href="https://awesomekling.substack.com/feed">[rss]</a>
    </li>
    <li>
      <a href="https://andregarzia.com/">AndreGarzia.com</a>
      <a href="https://andregarzia.com/feeds/all.rss.xml">[rss]</a>
    </li>
    <li>
      <a href="https://arnes.space">arnes.space</a>
      <a href="https://arnes.space/feed.xml">[rss]</a>
    </li>
    <li>
      <a href="https://www.alm.website/blog/">Athena's blog</a>
      <a href="https://www.alm.website/blog.atom">[atom]</a>
    </li>
    <li>
      <a href="https://www.benkuhn.net/">benkuhn.net</a>
      <a href="https://www.benkuhn.net/index.xml">[rss]</a>
    </li>
    <li>
      <a href="https://warmedal.se/~bjorn/">Björn Wärmedal</a>
      <a href="https://warmedal.se/~bjorn/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="https://www.mrmoneymustache.com">Blog – Mr. Money Mustache</a>
      <a href="https://www.mrmoneymustache.com/blog/feed/">[rss]</a>
    </li>
    <li>
      <a href="https://blog.ceejbot.com/">Ceejbot's notes</a>
      <a href="https://blog.ceejbot.com/index.xml">[rss]</a>
    </li>
    <li>
      <a href="https://cheapskatesguide.org">Cheapskates Guide RSS Feed</a>
      <a href="https://cheapskatesguide.org/cheapskates-guide-rss-feed.xml">[rss]</a>
    </li>
    <li>
      <a href="https://buttondown.email/hillelwayne">Computer Things</a>
      <a href="https://buttondown.email/hillelwayne/rss">[rss]</a>
    </li>
    <li>
      <a href="https://craphound.com">Cory Doctorow's craphound.com</a>
      <a href="https://craphound.com/feed/">[rss]</a>
    </li>
    <li>
      <a href="https://decafbad.net/">Craig Maloney</a>
      <a href="https://decafbad.net/feed/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="https://danluu.com/atom/index.xml">Dan Luu's blog</a>
      <a href="https://danluu.com/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="https://crawshaw.io">David Crawshaw</a>
      <a href="https://crawshaw.io/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="https://sive.rs/en.atom">Derek Sivers blog</a>
      <a href="https://sive.rs/en.atom">[atom]</a>
    </li>
    <li>
      <a href="https://dissociatedpress.net">Dissociated Press</a>
      <a href="https://dissociatedpress.net/feed/">[rss]</a>
    </li>
    <li>
      <a href="https://drewdevault.com">Drew DeVault's blog</a>
      <a href="https://drewdevault.com/blog/index.xml">[rss]</a>
    </li>
    <li>
      <a href="https://efficiencyiseverything.com">Efficiency Is Everything</a>
      <a href="https://efficiencyiseverything.com/feed/">[rss]</a>
    </li>
    <li>
      <a href="http://geoffreylitt.com/">Geoffrey Litt</a>
      <a href="https://www.geoffreylitt.com/feed.xml">[rss]</a>
    </li>
    <li>
      <a href="https://idiomdrottning.org/blog">Idiomdrottning</a>
      <a href="https://idiomdrottning.org/blog">[rss]</a>
    </li>
    <li>
      <a href="http://upsilon.cc/~zack/blog/">i'm in a hurry - stefano zacchiroli blog</a>
      <a href="https://upsilon.cc/~zack/blog/index.rss">[rss]</a>
    </li>
    <li>
      <a href="https://www.b-list.org/">James Bennett (b-list.org)</a>
      <a href="https://www.b-list.org/feeds/entries/">[rss]</a>
    </li>
    <li>
      <a href="https://www.jeffgeerling.com/">Jeff Geerling's Blog</a>
      <a href="https://www.jeffgeerling.com/blog.xml">[rss]</a>
    </li>
    <li>
      <a href="http://jvns.ca">Julia Evans</a>
      <a href="https://jvns.ca/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="http://akkartik.name">Kartik Agaram</a>
      <a href="http://feeds.akkartik.name/kartiks-scrapbook">[rss]</a>
    </li>
    <li>
      <a href="https://solar.lowtechmagazine.com/">LOW←TECH MAGAZINE</a>
      <a href="https://solar.lowtechmagazine.com/posts/index.xml">[rss]</a>
    </li>
    <li>
      <a href="https://mylegendary.quest">My Legendary Quest</a>
      <a href="https://mylegendary.quest/rss.xml">[rss]</a>
    </li>
    <li>
      <a href="https://ploum.be/">Ploum.net</a>
      <a href="https://ploum.be/atom_en.xml">[atom]</a>
    </li>
    <li>
      <a href="https://jacobmartins.com/posts/">Posts on Jacob Martin</a>
      <a href="https://jacobmartins.com/posts/index.xml">[rss]</a>
    </li>
    <li>
      <a href="https://programmingisterrible.com/">programming is terrible</a>
      <a href="https://programmingisterrible.com/rss">[rss]</a>
    </li>
    <li>
      <a href="http://pulkomandy.tk">PulkoMandy news</a>
      <a href="http://pulkomandy.tk/rss.pl">[rss]</a>
    </li>
    <li>
      <a href="https://sirupsen.com">Simon Eskildsen</a>
      <a href="https://sirupsen.com/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="http://simonwillison.net/">Simon Willison's Weblog</a>
      <a href="https://simonwillison.net/atom/everything/">[atom]</a>
    </li>
    <li>
      <a href="https://dataswamp.org/~solene/">Solene'%</a>
      <a href="https://dataswamp.org/~solene/rss-html.xml">[rss]</a>
    </li>
    <li>
      <a href="https://tedium.co/">Tedium: The Dull Side of the Internet.</a>
      <a href="https://feed.tedium.co/">[rss]</a>
    </li>
    <li>
      <a href="https://vkc.sh/">VKC.sh | Veronica Explains</a>
      <a href="https://vkc.sh/feed/">[rss]</a>
    </li>
    <li>
      <a href="https://rachelbythebay.com/w/">Writing - rachelbythebay</a>
      <a href="https://rachelbythebay.com/w/atom.xml">[atom]</a>
    </li>
    <li>
      <a href="gemini://gemini.cyberbot.space/gemlog/">kelbot's gemlog</a>
      <a href="https://feedexpander.gemini.malhotra.cc/gemini://gemini.cyberbot.space/gemlog/atom.xml">[atom]</a>
    </li>
  </ul>
{% endblock %}
