{% extends "base.html" %}
{% block title %}Tristan Havelick -- Books{% endblock %}
{% block content %}
  <a href="/">Tristan Havelick.com</a>
  <h1>What I've Been Reading</h1>
  <h2>2025</h2>
  <ol reversed>
      <li>The Stone Sky by  N. K. Jemisin</li>
      <li>Stiff by Mary Roach</li>
      <li>Debt: The First 5,000 Years by David Graeber</li>
      <li>The Anthropocene Reviewed by John Green</li>
      <li>The Obelisk Gate by N. K. Jemisin</li>
      <li>When the Earth Was Green by Riley Black</li>
      <li>The Fifth Season by  N. K. Jemisin</li>
      <li>Which country has the world's best health care? by Ezekiel J. Emanuel</li>
      <li>A Desolation Called Peace by Arkady Martine</li>
      <li>The Dawn of Everything by David Graeber and David Wengrow</li>
      <li>A Memory Called Empire by Arkady Martine</li>
      <li>An Indigenous People's History of the United States by Roxanne-Dunbar Ortiz</li>
      <li>Hunting by Stars by Cherie Dimaline</li>
      <li>AI Engineering by Chip Huyen</li>
      <li>The Will to Change by bell hooks</li>
      <li>Free Agent Nation by Daniel Pink</li>
  </ol>
  <h2>2024</h2>
  <ol reversed>
      <li>On Loyalty by Troy Jollimore</li>
      <li>How to Take Smart Notes by Sönke Ahrens</li>
      <li><a href="/nexus">Nexus by Yuval Noah Harari</a></li>
      <li>Confident Ruby by Avdi Grimm</li>
      <li>Noor by Nnedi Okorafor</li>
      <li>Autocracy Inc. by Anne Applebaum</li>
      <li>Useful Not True by Derek Sivers</li>
      <li>Survival of the Friendliest by Brian Hare and Vanessa Woods</li>
      <li>The Most Good You Can Do by Peter Singer</li>
      <li>The Free People's Village by Sim Kern</li>
      <li>The Culture Code by Daniel Coyle</li>
  </ol>
  <h2>2023</h2>
  <ol reversed>
      <li>Refuse to Choose! by Barbara Sher</li>
      <li>Against the Loveless World by Susan Abulhawa</li>
      <li>The Next Millionaire Next Door by Sarah Stanley Fallaw</li>
      <li>Freedom Is a Constant Struggle by Angela Davis</li>
      <li>The Good Life for Wage Slaves by Robert Wringham</li>
      <li>Palestine by Joe Sacco</li>
      <li>How Minds Change: The Surprising Science of Belief, Opinion, and Persuasion by David McRaney</li>
      <li>A Prosperous Way Down by Howard T. Odom and Elizabeth C. Odom</li>
      <li>A Handmade life by William Coperthwaite</li>
      <li>98.6 Degrees - The Art of Keeping your Ass Alive! by Cody Lundum</li>
      <li>Early Retirement Extreme by Jacob Lund Fisker (reread)</li>
      <li>Poverty, By America by Matthew Desmond</li>
      <li>Power to the Public by Tara Dawson McGuiness and Hana Schank</li>
      <li>A People's Guide to Capitalism by Hadas Their</li>
      <li>Wild Problems by Russ Roberts</li>
  </ol>
  <h2>2022</h2>
  <ol reversed>
      <li>The Ministry for the Future by Kim Stanley Robinson</li>
      <li>The Persuaders by Anand Giridharadas</li>
      <li>The Marrow Thieves by Cherie Dimaline</li>
      <li>Chokepoint Capitalism by Rebecca Giblin and Cory Doctorow</li>
      <li>Alfajiri by Michael LaBorn</li>
      <li>Persepolis 2 - The Story of a Return by Marjane Satrapi</li>
      <li>Persepolis - The Story of a Childhood by Marjane Satrapi</li>
      <li>All About Love - New Visions by bell hooks [4/5 stars]</li>
      <li>Termination Shock by Neal Stephenson [3/5 stars]</li>
      <li>Laziness Does Not Exist by Devon Price [5/5 stars]</li>
      <li>Unwinding Anxiety by Judson Brewer [3/5 stars]</li>
  </ol>
  <h2>2021</h2>
  <ol reversed>
      <li>The Secret Life of Groceries by Benjamin Lorr [4/5 stars]</li>
      <li>Project Hail Mary by Andy Weir [4/5 stars]</li>
      <li>How to Live by Derek Sivers [4/5 stars]</li>
      <li>Clean Getaway by Nic Stone</li>
      <li>The Southern Book Club's Guide to Slaying Vampires by Grady Hendrix [4/5 stars]</li>
  </ol>
  <h2>2020</h2>
  <ol reversed>
      <li>Hell Yeah or No: What's Worth Doing by Derek Sivers</li>
      <li>The Checklist Manifesto: How to Get Things Right by Atul Gawande</li>
      <li>The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph by Ryan Holiday</li>
      <li>On Tyranny: Twenty Lessons from the Twentieth Century by Timothy Snyder</li>
      <li>Just Mercy by Bryan Stevenson</li>
      <li>The Great Mental Models: General Thinking Concepts by Shane Parrish</li>
      <li>How to Live: A Life of Montaigne in One Question and Twenty Attempts at an Answer by Sarah Bakewell</li>
      <li>The Half-life of Facts: Why Everything We Know Has an Expiration Date by Samuel Arbesman</li>
      <li>A Short History of Nearly Everything by Bill Bryson</li>
      <li>Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration by Ed Catmull</li>
      <li>How to Be an Antiracist by Ibram X. Kendi</li>
      <li>The Immortal Life of Henrietta Lacks by Rebecca Skloot</li>
      <li>Proust and the Squid: The Story and Science of the Reading Brain by Maryanne Wolf</li>
      <li>Where Good Ideas Come From by Steven Johnson</li>
      <li>Man's Search for Meaning by Viktor E. Frankl</li>
      <li>Energy: A Human History by Richard Rhodes</li>
      <li>The Wright Brothers by David McCullough</li>
      <li>Wit and Wisdom from Poor Richard's Almanack by Benjamin Franklin</li>
      <li>Courage Under Fire: Testing Epictetus's Doctrines in a Laboratory of Human Behavior by James B. Stockdale</li>
      <li>Radical Candor: Be a Kick-Ass Boss Without Losing Your Humanity by Kim Malone Scott</li>
      <li>The Victorian Internet: The Remarkable Story of the Telegraph and the Nineteenth Century's On-line Pioneers by Tom Standage</li>
      <li>Crime and Punishment by Fyodor Dostoevsky</li>
      <li>Antifragile: Things That Gain from Disorder by Nassim Nicholas Taleb</li>
      <li>Micromastery: Learn Small, Learn Fast, and Find the Hidden Path to Happiness by Robert Twigger</li>
      <li>The War on Normal People: The Truth About America's Disappearing Jobs and Why Universal Basic Income Is Our Future by Andrew   Yang</li>
      <li>Liar's Poker by Michael Lewis</li>
      <li>Aha!: The Moments of Insight that Shape Our World by William B. Irvine</li>
      <li>Bad Blood: Secrets and Lies in a Silicon Valley Startup by John Carreyrou</li>
      <li>When: The Scientific Secrets of Perfect Timing by Daniel H. Pink</li>
      <li>Food Rules: An Eater's Manual by Michael Pollan</li>
      <li>Cat's Cradle by Kurt Vonnegut Jr.</li>
      <li>The Coddling of the American Mind: How Good Intentions and Bad Ideas Are Setting up a Generation for Failure by Jonathan Haidt</li>
      <li>The Hidden Life of Trees: What They Feel, How They Communicate — Discoveries from a Secret World by Peter Wohlleben</li>
      <li>The Second Mountain: The Quest for a Moral Life by David Brooks</li>
  </ol>
  <h2>2019</h2>
  <ol reversed>
      <li>Building a Better World in Your Backyard: Instead of Being Angry at Bad Guys by Paul Wheaton</li>
      <li>Permanent Record by Edward Snowden</li>
      <li>How to Live Well Without Owning a Car: Save Money, Breathe Easier, and Get More Mileage Out of Life by Chris Balish</li>
      <li>Ultralearning: Master Hard Skills, Outsmart the Competition, and Accelerate Your Career by Scott H. Young</li>
      <li>The Stoic Challenge: A Philosopher's Guide to Becoming Tougher, Calmer, and More Resilient by William B. Irvine</li>
      <li>Range: Why Generalists Triumph in a Specialized World by David Epstein</li>
      <li>Hooked: How to Build Habit-Forming Products by Nir Eyal</li>
      <li>Circe by Madeline Miller</li>
      <li>Every Tool's a Hammer: Life Is What You Make It by Adam Savage</li>
      <li>Billion Dollar Whale: The Man Who Fooled Wall Street, Hollywood, and the World by Tom Wright</li>
      <li>Obfuscation: A User's Guide for Privacy and Protest by Finn Brunton</li>
      <li>Digital Minimalism: Choosing a Focused Life in a Noisy World by Cal Newport</li>
      <li>The Dark Forest by Liu Cixin</li>
      <li>Kissing Fish: christianity for people who don’t like christianity by Roger Wolsey</li>
      <li>Extremely Loud &amp; Incredibly Close by Jonathan Safran Foer</li>
      <li>To Kill a Mockingbird by Harper Lee</li>
      <li>Transformative Experience by L.A. Paul</li>
      <li>Kindred by Octavia E. Butler</li>
      <li>Team Human by Douglas Rushkoff</li>
      <li>Educated by Tara Westover</li>
  </ol>
  <h2>2018 and before</h2>
  <p>
    Since I remember reading these, but not precisely when, they're ordered by publication date
  <ul>
      <li>[2018] Bullshit Jobs: A Theory by David Graeber</li>
      <li>[2018] Fire and Fury: Inside the Trump White House by Michael Wolff</li>
      <li>[2018] Factfulness: Ten Reasons We're Wrong About the World – and Why Things Are Better Than You Think by Hans Rosling</li>
      <li>[2018] Enlightenment Now: The Case for Reason, Science, Humanism, and Progress by Steven Pinker</li>
      <li>[2018] 21 Lessons for the 21st Century by Yuval Noah Harari</li>
      <li>[2018] Learning React by Kirupa Chinnathambi</li>
      <li>[2018] Skin in the Game by Nassim Nicholas Taleb</li>
      <li>[2017] Checking Out: How Searching More and Checking Less Can Save You From Your Smartphone by Jeremiah Overland</li>
      <li>[2017] Everybody Lies: Big Data, New Data, and What the Internet Can Tell Us About Who We Really Are by Seth Stephens-Davidowitz</li>
      <li>[2017] How Emotions Are Made: The Secret Life of the Brain by Lisa Feldman Barret</li>
      <li>[2017] How to Be a Stoic: Using Ancient Philosophy to Live a Modern Life by Massimo Pigliucci</li>
      <li>[2017] Set for Life: Dominate Life, Money, and the American Dream by Scott Trench</li>
      <li>[2017] Why We Sleep: Unlocking the Power of Sleep and Dreams by Matthew Walker</li>
      <li>[2016] Pre-Suasion: A Revolutionary Way to Influence and Persuade by Robert B. Cialdini</li>
      <li>[2016] We Are Legion (We Are Bob) by Dennis E. Taylor</li>
      <li>[2016] The Revenge of Analog: Real Things and Why They Matter David Sax</li>
      <li>[2016] The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life by Mark Manson</li>
      <li>[2016] The Undoing Project: A Friendship That Changed Our Minds by Michael Lewis</li>
      <li>[2016] The Little Book of Hygge by Meik Wiking</li>
      <li>[2016] Tribe: On Homecoming and Belonging by Sebastian Junger</li>
      <li>[2016] Peak: Secrets from the New Science of Expertise by K. Anders Ericsson</li>
      <li>[2016] Originals: How Non-Conformists Move the World by Adam M. Grant</li>
      <li>[2016] Grit: The Power of Passion and Perseverance by Angela Duckworth</li>
      <li>[2016] Deep Work: Rules for Focused Success in a Distracted World by Cal Newport</li>
      <li>[2016] Utopia Is Creepy by Nicholas Carr</li>
      <li>[2015] A Spy's Guide to Thinking by John Braddock</li>
      <li>[2015] Mazes for Programmers: Code Your Own Twisty Little Passages by Jamis Buck</li>
      <li>[2015] The Mathematics of Love by Hannah Fry</li>
      <li>[2015] The Road to Character by David Brooks</li>
      <li>[2015] Seveneves by Neal Stephenson</li>
      <li>[2015] The Master Algorithm: How the Quest for the Ultimate Learning Machine Will Remake Our World by Pedro Domingos</li>
      <li>[2015] When to Rob a Bank: ...and 131 More Warped Suggestions and Well-Intended Rants by Steven D. Levitt and Stephen J. Dubner</li>
      <li>[2014] Think Like a Freak by Steven D. Levitt and Stephen J. Dubner</li>
      <li>[2014] Annihilation by Jeff VanderMeer</li>
      <li>[2014] C++: How to Program by Harvey M. Deitel</li>
      <li>[2014] Dataclysm: Who We Are by Christian Rudder</li>
      <li>[2014] More Than Two by Eve Rickert and Andrea Zanin</li>
      <li>[2014] The Long Mars by Terry Pratchett</li>
      <li>[2014] Soft Skills: The Software Developer's Life Manual by John Z. Sonmez</li>
      <li>[2014] What If?: Serious Scientific Answers to Absurd Hypothetical Questions by Randall Munroe</li>
      <li>[2014] Waking Up: A Guide to Spirituality Without Religion by Sam Harris</li>
      <li>[2014] 10% Happier by Dan Harris</li>
      <li>[2013] Burning Paradise by Robert Charles Wilson</li>
      <li>[2013] Ruby Under a Microscope by Pat Shaughnessy</li>
      <li>[2013] Choose Yourself: Be Happy, Make Millions, Live the Dream by James Altucher</li>
      <li>[2013] Retiring Sooner: How to Accelerate Your Financial Independence by Darrow Kirkpatrick</li>
      <li>[2013] The Long War by Terry Pratchett</li>
      <li>[2013] A Slap in the Face: Why Insults Hurt--And Why They Shouldn't by William B. Irvine</li>
      <li>[2013] Remote: Office Not Required by David Heinemeier Hansson</li>
      <li>[2013] Stoicism and the Art of Happiness by Donald J. Robertson</li>
      <li>[2012] Rome's Last Citizen: The Life and Legacy of Cato, Mortal Enemy of Caesar by Rob Goodman, Jimmy Soni</li>
      <li>[2012] Programming in Go by Mark Summerfield</li>
      <li>[2012] Makers: The New Industrial Revolution by Chris Anderson</li>
      <li>[2012] The Open-Source Everything Manifesto: Transparency, Truth, and Trust by Robert David Steele</li>
      <li>[2012] So Good They Can't Ignore You by Cal Newport</li>
      <li>[2012] Scam School Book 1 by Brian Brushwood</li>
      <li>[2012] The Cynic Philosophers: From Diogenes to Julian translated by Robert Dobbin</li>
      <li>[2012] The Long Earth by Terry Pratchett</li>
      <li>[2012] The Power of Habit by Charles Duhigg</li>
      <li>[2012] The Signal and the Noise by Nate Silver</li>
      <li>[2012] Free Will by Sam Harris </li>
      <li>[2012] Redshirts by John Scalzi</li>
      <li>[2012] The Righteous Mind by Jonathan Haidt</li>
      <li>[2011] The Folly of Fools by Robert Trivers</li>
      <li>[2011] The Cucumber Book by Matt Wynne</li>
      <li>[2011] Lean from the Trenches by Henrik Kniberg</li>
      <li>[2011] The Hidden Reality by Brian Greene</li>
      <li>[2011] The Filter Bubble: What the Internet is Hiding From You by Eli Pariser</li>
      <li>[2011] The Lean Startup by Eric Ries</li>
      <li>[2011] The Martian by Andy Weir</li>
      <li>[2011] Super Mario: How Nintendo Conquered America by Jeff Ryan</li>
      <li>[2011] The Magic of Reality by Richard Dawkins</li>
      <li>[2011] Sapiens: A Brief History of Humankind by Yuval Noah Harari</li>
      <li>[2011] Ready Player One by Ernest Cline</li>
      <li>[2011] Moonwalking with Einstein: The Art and Science of Remembering Everything by Joshua Foer</li>
      <li>[2011] Vortex by Robert Charles Wilson</li>
      <li>[2011] Lying by Sam Harris</li>
      <li>[2011] Religion for Atheists by Alain de Botton</li>
      <li>[2010] Mockingjay by Suzanne Collins</li>
      <li>[2010] Continuous Delivery by Jez Humble</li>
      <li>[2010] Service-Oriented Design with Ruby and Rails by Paul Dix</li>
      <li>[2010] Metaprogramming Ruby: Program Like the Ruby Pros by Paolo Perrotta</li>
      <li>[2010] The Moral Landscape: How Science Can Determine Human Values by Sam Harris</li>
      <li>[2010] The Better Angels of Our Nature: Why Violence Has Declined by Steven Pinker</li>
      <li>[2010] Early Retirement Extreme: A Philosophical and Practical Guide to Financial Independence by Jacob Lund Fisker</li>
      <li>[2009] Super Freakonomics by Steven D. Levitt and Stephen J. Dubner</li>
      <li>[2009] The RSpec Book by David Chelimsky</li>
      <li>[2009] Beautiful Data: The Stories Behind Elegant Data Solutions edited by Toby Segaran</li>
      <li>[2009] Language Implementation Patterns: Techniques for Implementing Domain-Specific Languages by Terence Parr</li>
      <li>[2009] Catching Fire by Suzanne Collins</li>
      <li>[2009] Dive into Python 3 by Mark Pilgrim</li>
      <li>[2009] 59 Seconds: Think a Little, Change a Lot by Richard Wiseman</li>
      <li>[2009] Free by Chris Anderson</li>
      <li>[2009] Good Without God: What a Billion Nonreligious People Do Believe Greg M. Epstein</li>
      <li>[2009] How We Decide by Jonah Lehrer</li>
      <li>[2009] I Will Teach You to Be Rich: No Guilt. No Excuses. No BS. Just a 6-Week Program That Works by Ramit Sethi</li>
      <li>[2009] Programming the Semantic Web: Build Flexible Applications with Graph Data by Toby Segaran</li>
      <li>[2009] Drive: The Surprising Truth About What Motivates Us by Daniel H. Pink</li>
      <li>[2009] The Good Man Jesus and the Scoundrel Christ by Philip Pullman</li>
      <li>[2008] Outliers: The Story of Success by Malcolm Gladwell</li>
      <li>[2008] The Ruby Programming Language by David Flanagan</li>
      <li>[2008] JavaScript: The Good Parts by Douglas Crockford</li>
      <li>[2008] A Guide to the Good Life: The Ancient Art of Stoic Joy by William B. Irvine</li>
      <li>[2008] Bad Science by Ben Goldacre</li>
      <li>[2008] Blasphemy by Douglas Preston</li>
      <li>[2008] Irreligion: A Mathematician Explains Why the Arguments for God Just Don't Add Up by John Allen Paulos</li>
      <li>[2008] Predictably Irrational by Dan Ariely</li>
      <li>[2008] The Hunger Games by Suzanne Collins</li>
      <li>[2008] Society Without God: What the Least Religious Nations Can Tell Us About Contentment Phil Zuckerman</li>
      <li>[2007] Axis by Robert Charles Wilson</li>
      <li>[2007] The Myths of Innovation by Scott Berkun</li>
      <li>[2007] Dreaming in Code by Scott Rosenberg</li>
      <li>[2007] God Is Not Great by Christopher Hitchens</li>
      <li>[2007] Quirkology: How We Discover the Big Truths in Small Things by Richard Wiseman</li>
      <li>[2007] The Black Swan by Nassim Nicholas Taleb</li>
      <li>[2007] The 4-Hour Workweek by Timothy Ferriss</li>
      <li>[2006] Before the Dawn: Recovering the Lost History of Our Ancestors by Nicholas Wade</li>
      <li>[2006] C# Cookbook by Jay Hilyard and Stephen Teilhet</li>
      <li>[2006] CLR via C# by Jeffrey Richter</li>
      <li>[2006] HTML Utopia: Designing Without Tables Using CSS by Rachel Andrew</li>
      <li>[2006] Micro-ISV: From Vision to Reality by Bob Walsh</li>
      <li>[2006] The Calculus Wars: Newton, Leibniz, and the Greatest Mathematical Clash of All Time by Jason Socrates Bardi</li>
      <li>[2006] The Millionaire Mind by Thomas J. Stanley</li>
      <li>[2006] No B.S. Wealth Attraction for Entrepreneurs by Dan Kennedy</li>
      <li>[2006] The Long Tail by Chris Anderson </li>
      <li>[2006] The God Delusion by Richard Dawkins</li>
      <li>[2006] Secrets of Mental Math: The Mathemagician's Guide to Lightning Calculation and Amazing Math Tricks by Arthur T. Benjamin</li>
      <li>[2006] Letter to a Christian Nation by Sam Harris</li>
      <li>[2005] Blink: The Power of Thinking Without Thinking by Malcolm Gladwell</li>
      <li>[2005] Holy Silence: The Gift Of Quaker Spirituality by J. Brent Bill</li>
      <li>[2005] Freakonomics: A Rogue Economist Explores the Hidden Side of Everything  by  Steven D. Levitt and Stephen J. Dubner</li>
      <li>[2005] Pragmatic Version Control: Using Subversion by Mike Mason</li>
      <li>[2005] Advanced Perl Programming by Simon Cozens</li>
      <li>[2005] Agile Web Development with Rails by Dave Thomas and David Heinemeier Hansson</li>
      <li>[2005] The World Is Flat: A Brief History of the Twenty-first Century by Thomas L. Friedman</li>
      <li>[2005] New Rules by Bill Maher</li>
      <li>[2005] Spin by Robert Charles Wilson</li>
      <li>[2005] The Truth with Jokes Al Franken</li>
      <li>[2005] On Bullshit by Harry G. Frankfurt</li>
      <li>[2005] The Best Software Writing I edited by Joel Spolsky</li>
      <li>[2005] The Singularity is Near: When Humans Transcend Biology Ray Kurzweil</li>
      <li>[2005] Unconventional Success: A Fundamental Approach to Personal Investment by David F. Swensen</li>
      <li>[2004] Ugly Americans: The True Story of the Ivy League Cowboys Who Raided the Asian Markets for Millions by Ben Mezrich</li>
      <li>[2004] Pragmatic Project Automation: How to Build, Deploy, and Monitor Java Apps by Mike Clark</li>
      <li>[2004] Microsoft Windows Internals by Mark E. Russinovich and David A. Solomon</li>
      <li>[2004] Working Effectively with Legacy Code by Michael C. Feathers</li>
      <li>[2004] Don't Think of an Elephant! Know Your Values and Frame the Debate by George Lakoff</li>
      <li>[2004] On Intelligence of Jeff Hawkins</li>
      <li>[2004] The Fabric of the Cosmos by Brian Greene</li>
      <li>[2004] Six Questions of Socrates by Christopher Phillips</li>
      <li>[2004] SEO for Dummies by Peter Kent</li>
      <li>[2004] Building Your Business With Google for Dummies by Brad Hill</li>
      <li>[2004] Guerrilla Marketing for Consultants by Jay Conrad Levinson</li>
      <li>[2004] Time Power by Brian Tracy</li>
      <li>[2004] Cloud Atlas by David Mitchell</li>
      <li>[2004] The End of Faith: Religion, Terror, and the Future of Reason by Sam Harris</li>
      <li>[2004] Joel on Software by Joel Spolsky</li>
      <li>[2003] Lean Software Development: An Agile Toolkit by Mary Poppendieck and Tom Poppendieck</li>
      <li>[2003] Game Programming With Python by Sean Riley</li>
      <li>[2003] Blankets by Craig Thompson</li>
      <li>[2003] A History of Modern Russia: From Nicholas II to Vladimir Putin by Robert Service</li>
      <li>[2003] Lies &amp; the Lying Liars Who Tell Them by Al Franken</li>
      <li>[2003] Dude, Where's My Country? by Michael Moore</li>
      <li>[2003] Speed Mathematics: Secret Skills for Quick Calculation by Bill Handley</li>
      <li>[2003] The Myth of Homeland Security by Marcus Ranum</li>
      <li>[2003] Masters of Doom by David Kushner</li>
      <li>[2003] Doubt: A History by Jennifer Michael Hecht</li>
      <li>[2003] The Power of Full Engagement by Jim Loehr </li>
      <li>[2002] Bringing Down the House: The Inside Story of Six M.I.T. Students Who Took Vegas for Millions by Ben Mezrich</li>
      <li>[2002] Web Hacking: Attacks and Defense by Stuart McClure</li>
      <li>[2002] Hidden Empire by Kevin J. Anderson</li>
      <li>[2002] Programming Collective Intelligence: Building Smart Web 2.0 Applications by Toby Segaran </li>
      <li>[2002] The Good, the Bad &amp; the Difference by Randy Cohen</li>
      <li>[2002] Crashing the Party by Ralph Nader</li>
      <li>[2002] Lamb: The Gospel According to Biff, Christ’s Childhood Pal by Christopher Moore</li>
      <li>[2002] The One Minute Millionaire by Mark Victor Hansen and Robert G. Allen [0/5 stars]</li>
      <li>[2001] Freelancing For Dummies by Susan M. Drake</li>
      <li>[2001] Sams Teach Yourself Uml in 24 Hours by Joseph Schmuller</li>
      <li>[2001] Socrates Cafe: A Fresh Taste of Philosophy by Christopher Phillips</li>
      <li>[2001] American Gods Neil Gaiman</li>
      <li>[2001] Extreme Programming Examined by Giancarlo Succi and Michele Marchesi</li>
      <li>[2001] Fooled by Randomness by Nassim Nicholas Taleb</li>
      <li>[2001] The Liar's Tale: A History of Falsehood by Jeremy Campbell</li>
      <li>[2001] The Mountain of Silence: A Search for Orthodox Spirituality by Kyriacos C. Markides</li>
      <li>[2001] How to be Good by Nick Hornby</li>
      <li>[2000] Basic Economics: A Citizen's Guide to the Economy by Thomas Sowell</li>
      <li>[2000] Bowling Alone by Robert D. Putnam</li>
      <li>[2000] Assembly Language Step-by-step by Jeff Duntemann</li>
      <li>[2000] PHP 4 Bible by Tim Converse and Joyce Park</li>
      <li>[2000] Programming Ruby: The Pragmatic Programmers' Guide by Dave Thomas</li>
      <li>[2000] Blowback: The Costs and Consequences of American Empire by Chalmers Johnson</li>
      <li>[2000] Zero: The Biography of a Dangerous Idea by Charles Seife</li>
      <li>[2000] Don't Make Me Think, Revisited: A Common Sense Approach to Web Usability by Steve Krug</li>
      <li>[2000] The Tipping Point: How Little Things Can Make a Big Difference by Malcolm Gladwell</li>
      <li>[2000] The Light of Other Days by Arthur C. Clarke and Stephen Baxter</li>
      <li>[2000] Under the Skin by Michel Faber</li>
      <li>[1999] Python Essential Reference by David Beazley</li>
      <li>[1999] Beginning Active Server Pages 3.0 by David Buser, Chris Ullman and John Duckett</li>
      <li>[1999] MySQL by Paul DuBois</li>
      <li>[1999] A Programmer's Guide to Java Certification by Khalid A. Mughal</li>
      <li>[1999] Cryptonomicon by Neal Stephenson</li>
      <li>[1999] Be Cool by Elmore Leonard</li>
      <li>[1999] The Elegant Universe by Brian Greene</li>
      <li>[1999] How To Win A Local Election by M. Andrew Grey</li>
      <li>[1999] A Deepness in the Sky Vernor Vinge</li>
      <li>[1999] The Pragmatic Programmer Andrew Hunt and David Thomas</li>
      <li>[1999] Refactoring: Improving the Design of Existing Code by Martin Fowler</li>
      <li>[1998] The Transparent Society by David Brin</li>
      <li>[1998] The Heart of the Buddha's Teaching by Thich Nhat Hanh</li>
      <li>[1998] A Man in Full by Tom Wolfe</li>
      <li>[1997] Software Project Survival Guide by Steve McConnell</li>
      <li>[1997] Web Security, Privacy and Commerce by Simson Garfinkel</li>
      <li>[1997] The Power of Now: A Guide to Spiritual Enlightenment by Eckhart Tolle</li>
      <li>[1997] Rich Dad, Poor Dad by Robert T. Kiyosaki</li>
      <li>[1997] Harry Potter and the Sorcerer's Stone by J.K. Rowling</li>
      <li>[1996] Death and the Penguin by Andrey Kurkov</li>
      <li>[1996] Analysis Patterns: Reusable Object Models by Martin Fowler</li>
      <li>[1996] The Truth About Money by Ric Edelman</li>
      <li>[1996] Rapid Software Development by Steve McConnell</li>
      <li>[1996] Hogfather by Terry Pratchett</li>
      <li>[1995] The Demon-Haunted World: Science as a Candle in the Dark by Carl Sagan</li>
      <li>[1995] Extreme Programming for Web Projects by Doug Wallace</li>
      <li>[1995] The Millionaire Next Door: The Surprising Secrets of America's Wealthy by Thomas J. Stanley</li>
      <li>[1995] Longitude: The True Story of a Lone Genius Who Solved the Greatest Scientific Problem of His Time by Dava Sobel</li>
      <li>[1994] Design Patterns: Elements of Reusable Object-Oriented Software by Erich Gamma, Grady Booch, Richard Helm, Ralph Johnson and John Vlissides</li>
      <li>[1994] No B.S. Sales Success by Dan Kennedy</li>
      <li>[1994] You Can't Be Neutral on a Moving Train by Howard Zinn</li>
      <li>[1993] Code Complete: A Practical Handbook of Software Construction by Steve McConnell</li>
      <li>[1993] No B.S. Business Success by Dan Kennedy</li>
      <li>[1992] Your Money or Your Life by Joe Dominguez</li>
      <li>[1992] TCP/IP Network Administration by Craig Hunt</li>
      <li>[1992] Film Animation Techniques by Lafe Locke</li>
      <li>[1992] Artificial Life: A Report from the Frontier Where Computers Meet Biology by Steven Levy</li>
      <li>[1992] Guerrilla Selling by Jay Conrad Levinson, Bill Gallagher and Orvel Ray Wilson</li>
      <li>[1992] A Fire Upon the Deep Vernor Vinge</li>
      <li>[1992] Snow Crash by Neal Stephenson</li>
      <li>[1991] How to Learn Any Language by Barry Farber</li>
      <li>[1991] Programming Perl by Tom Christiansen, Jon Orwant and Larry Wall</li>
      <li>[1991] There Are No Electrons: Electronics for Earthlings by Kenn Amdahl</li>
      <li>[1991] The Ultimate Marketing Plan by Dan S. Kennedy</li>
      <li>[1991] Maus II by Art Spiegelman</li>
      <li>[1990] Envisioning Information by Edward R. Tufte</li>
      <li>[1990] Jurassic Park by Michael Crichton</li>
      <li>[1990] Get Shorty by Elmore Leonard</li>
      <li>[1990] Flow: The Psychology of Optimal Experience by Mihály Csíkszentmihályi</li>
      <li>[1989] The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change by Stephen R. Covey</li>
      <li>[1989] The Cuckoo's Egg: Tracking a Spy Through the Maze of Computer Espionage by Clifford Stoll</li>
      <li>[1988] A Brief History of Time by Stephen Hawking</li>
      <li>[1988] Innumeracy: Mathematical Illiteracy and Its Consequences John Allen Paulos</li>
      <li>[1988] Passions Within Reason: The Strategic Role of the Emotions by Robert H. Frank</li>
      <li>[1987] The World of Lego Toys by Henry Wiencek</li>
      <li>[1986] Maus I by Art Spiegelman</li>
      <li>[1985] The E-myth Revisited by Michael E. Gerber</li>
      <li>[1985] Atari Basic, XL Edition by Bob Albrecht</li>
      <li>[1985] "Surely You're Joking, Mr. Feynman!": Adventures of a Curious Character by Richard P. Feynman</li>
      <li>[1985] Telling Lies: Clues to Deceit in the Marketplace, Politics, and Marriage by Paul Ekman</li>
      <li>[1985] Ender’s Game by Orson Scott Card</li>
      <li>[1985] Little Myth Marker by Robert Lynn Asprin</li>
      <li>[1984] Guerrilla Marketing by Jay Conrad Levinson</li>
      <li>[1984] Boy: Tales of Childhood by Roald Dahl</li>
      <li>[1984] From Socrates to Sartre: The Philosophic Quest by T.Z. Lavine</li>
      <li>[1984] Influence: The Psychology of Persuasion by Robert B. Cialdini</li>
      <li>[1984] Structure and Interpretation of Computer Programs by Harold Abelson and Gerald Jay Sussman</li>
      <li>[1984] So Long, and Thanks for All the Fish by Douglas Adams</li>
      <li>[1984] The Evolution of Cooperation by Robert Axelrod</li>
      <li>[1984] Myth-ing Persons by Robert Lynn Asprin</li>
      <li>[1982] Life, the Universe and Everything by Douglas Adams</li>
      <li>[1982] Myth Directions by Robert Lynn Asprin</li>
      <li>[1982] The BFG by Roald Dahl</li>
      <li>[1983] Hit or Myth by Robert Lynn Asprin</li>
      <li>[1982] Flim-Flam!: Psychics, ESP, Unicorns, and Other Delusions by James Randi</li>
      <li>[1981] The Witches by Roald Dahl</li>
      <li>[1980] The Restaurant at the End of the Universe by Douglas Adams</li>
      <li>[1980] Myth Conceptions by Robert Lynn Asprin</li>
      <li>[1979] Gödel, Escher, Bach: An Eternal Golden Braid by Douglas R. Hofstadter</li>
      <li>[1979] The Hitchhiker’s Guide to the Galaxy by Douglas Adams</li>
      <li>[1978] The C Programming Language by Brian W. Kernighan and Dennis M. Ritchie</li>
      <li>[1978] Another Fine Myth by Robert Lynn Asprin</li>
      <li>[1978] How to Read Slowly by James W. Sire</li>
      <li>[1977] A Scanner Darkly by Philip K. Dick</li>
      <li>[1977] How to Sell Anything to Anybody by Joe Girard</li>
      <li>[1976] The Selfish Gene by Richard Dawkins</li>
      <li>[1975] Game Theory and Politics by Steven J. Brams</li>
      <li>[1974] The Memory Book: The Classic Guide to Improving Your Memory at Work, at School, and at Play by Harry Lorayne</li>
      <li>[1974] The Forever War by Joe Haldeman</li>
      <li>[1973] A Random Walk Down Wall Street: The Time-Tested Strategy for Successful Investing by Burton G. Malkiel</li>
      <li>[1973] How I Found Freedom in an Unfree World by Harry Browne</li>
      <li>[1972] Charlie and the Great Glass Elevator by Roald Dahl</li>
      <li>[1971] Rules for Radicals by Saul D. Alinsky</li>
      <li>[1970] Ringworld by Larry Niven</li>
      <li>[1969] I Know Why the Caged Bird Sings by Maya Angelou</li>
      <li>[1968] The Way of the Sufi Idries Shah</li>
      <li>[1968] Do Androids Dream of Electric Sheep? by Philip K. Dick</li>
      <li>[1968] 2001: A Space Odyssey by Arthur C. Clarke</li>
      <li>[1967] Calculus: An Intuitive and Physical Approach by Morris Kline</li>
      <li>[1966] Flowers for Algernon Daniel Keyes</li>
      <li>[1964] Charlie and the Chocolate Factory by Roald Dahl</li>
      <li>[1962] A Wrinkle in Time by Madeleine L'Engle</li>
      <li>[1962] A Clockwork Orange by Anthony Burgess</li>
      <li>[1962] One Flew Over the Cuckoo's Nest Ken Kesey</li>
      <li>[1961] Marx's Concept of Man by Erich Fromm</li>
      <li>[1961] Black Like Me by John Howard Griffin</li>
      <li>[1961] Stranger in a Strange Land by Robert A. Heinlein</li>
      <li>[1961] Solaris by Stanisław Lem</li>
      <li>[1961] James and the Giant Peach by Roald Dahl</li>
      <li>[1961] Catch-22 by Joseph Heller</li>
      <li>[1959] Starship Troopers by Robert A. Heinlein</li>
      <li>[1959] A Canticle for Leibowitz by Walter M. Miller Jr.</li>
      <li>[1957] Games and Decisions: Introduction and Critical Survey by R. Duncan Luce and Howard Raiffa</li>
      <li>[1954] How to Lie with Statistics by Darrell Huff</li>
      <li>[1953] Fahrenheit 451 by Ray Bradbury</li>
      <li>[1953] The Worldly Philosophers by Robert L. Heilbroner</li>
      <li>[1953] Second Foundation by Isaac Asimov</li>
      <li>[1952] Foundation and Empire by Isaac Asimov</li>
      <li>[1951] Foundation by Isaac Asimov</li>
      <li>[1950] Nietzsche: Philosopher, Psychologist, Antichrist by Walter Kaufmann</li>
      <li>[1949] Animal Farm by George Orwell</li>
      <li>[1949] 1984 by George Orwell</li>
      <li>[1947] The Plague by Albert Camus</li>
      <li>[1939] The Grapes of Wrath by John Steinbeck</li>
      <li>[1937] Think and Grow Rich by Napoleon Hill</li>
      <li>[1936] How to Win Friends &amp; Influence People by Dale Carnegie</li>
      <li>[1932] Brave New World by Aldous Huxley</li>
      <li>[1928] Propaganda by Edward L. Bernays</li>
      <li>[1927] Why I am Not a Christian by Bertrand Russell</li>
      <li>[1924] We by Yevgeny Zamyatin</li>
      <li>[1926] The Richest Man in Babylon by George S. Clason</li>
      <li>[1915] The Metamorphosis by Franz Kafka</li>
      <li>[1908] How to Live on 24 Hours a Day by Arnold Bennett</li>
      <li>[1907] Ozma of Oz by L. Frank Baum</li>
      <li>[1905] The Jungle by Upton Sinclair</li>
      <li>[1904] The Marvelous Land of Oz by L. Frank Baum</li>
      <li>[1885] The Adventures of Huckleberry Finn by Mark Twain</li>
      <li>[1884] Flatland: A Romance of Many Dimensions by Edwin A. Abbott</li>
      <li>[1883] Thus Spoke Zarathustra by Friedrich Nietzsche</li>
      <li>[1876] The Adventures of Tom Sawyer by Mark Twain</li>
      <li>[1846] The Communist Manifesto by Karl Marx and Friedrich Engels</li>
      <li>[1846] Typee by Herman Melville</li>
      <li>[1791] The Autobiography of Ben Franklin by Benjamin Franklin</li>
      <li>[1776] The Wealth of Nations by Adam Smith</li>
      <li>[1516] Utopia by Thomas More</li>
      <li>[1513] The Prince by Niccolò Machiavelli</li>
      <li>[1320] Inferno by Dante</li>
      <li>[180] Meditations by Marcus Aurelius</li>
      <li>[125] The Enchiridion by Epictetus</li>
      <li>[44 BC] On Old Age by Cicero</li>
      <li>[351 BC] Tao Te Ching by Lao Tzu</li>
      <li>[375 BC] The Republic by Plato</li>
      <li>[401 BC] The Bhagavad Gita by Vyasa</li>
      <li>[501 BC] The Art of War by Sun Tzu</li>
  </ul>
{% endblock %}
