{% extends "base.html" %}
{% block title %}Tristan Havelick -- Books{% endblock %}
{% block content %}
  <a href="/">Tristan Havelick.com</a>
  <h1>What I've Been Reading</h1>
  <h2>2025</h2>
  <ol reversed>
      <li>Debt: The First 5,000 Years by David Graeber</li>
      <li>The Anthropocene Reviewed by John Green</li>
      <li>The Obelisk Gate by N. K. Jemisin</li>
      <li>When the Earth Was Green by Riley Black</li>
      <li>The Fifth Season by  N. K. Jemisin</li>
      <li>Which country has the world's best health care? by Ezekiel J. Emanuel</li>
      <li>A Desolation Called Peace by Arkady Martine</li>
      <li>The Dawn of Everything by David Graeber and David Wengrow</li>
      <li>A Memory Called Empire by Arkady Martine</li>
      <li>An Indigenous People's History of the United States by Roxanne-Dunbar Ortiz</li>
      <li>Hunting by Stars by Cherie Dimaline</li>
      <li>AI Engineering by Chip Huyen</li>
      <li>The Will to Change by bell hooks</li>
      <li>Free Agent Nation by Daniel Pink</li>
  </ol>
  <h2>2024</h2>
  <ol reversed>
      <li>On Loyalty by Troy Jollimore</li>
      <li>How to Take Smart Notes by Sönke Ahrens</li>
      <li><a href="/nexus">Nexus by Yuval Noah Harari</a></li>
      <li>Confident Ruby by Avdi Grimm</li>
      <li>Noor by Nnedi Okorafor</li>
      <li>Autocracy Inc. by Anne Applebaum</li>
      <li>Useful Not True by Derek Sivers</li>
      <li>Survival of the Friendliest by Brian Hare and Vanessa Woods</li>
      <li>The Most Good You Can Do by Peter Singer</li>
      <li>The Free People's Village by Sim Kern</li>
      <li>The Culture Code by Daniel Coyle</li>
  </ol>
  <h2>2023</h2>
  <ol reversed>
      <li>Refuse to Choose! by Barbara Sher</li>
      <li>Against the Loveless World by Susan Abulhawa</li>
      <li>The Next Millionaire Next Door by Sarah Stanley Fallaw</li>
      <li>Freedom Is a Constant Struggle by Angela Davis</li>
      <li>The Good Life for Wage Slaves by Robert Wringham</li>
      <li>Palestine by Joe Sacco</li>
      <li>How Minds Change: The Surprising Science of Belief, Opinion, and Persuasion by David McRaney</li>
      <li>A Prosperous Way Down by Howard T. Odom and Elizabeth C. Odom</li>
      <li>A Handmade life by William Coperthwaite</li>
      <li>98.6 Degrees - The Art of Keeping your Ass Alive! by Cody Lundum</li>
      <li>Early Retirement Extreme by Jacob Lund Fisker (reread)</li>
      <li>Poverty, By America by Matthew Desmond</li>
      <li>Power to the Public by Tara Dawson McGuiness and Hana Schank</li>
      <li>A People's Guide to Capitalism by Hadas Their</li>
      <li>Wild Problems by Russ Roberts</li>
  </ol>
  <h2>2022</h2>
  <ol reversed>
      <li>The Ministry for the Future by Kim Stanley Robinson</li>
      <li>The Persuaders by Anand Giridharadas</li>
      <li>The Marrow Thieves by Cherie Dimaline</li>
      <li>Chokepoint Capitalism by Rebecca Giblin and Cory Doctorow</li>
      <li>Alfajiri by Michael LaBorn</li>
      <li>Persepolis 2 - The Story of a Return by Marjane Satrapi</li>
      <li>Persepolis - The Story of a Childhood by Marjane Satrapi</li>
      <li>All About Love - New Visions by bell hooks [4/5 stars]</li>
      <li>Termination Shock by Neal Stephenson [3/5 stars]</li>
      <li>Laziness Does Not Exist by Devon Price [5/5 stars]</li>
      <li>Unwinding Anxiety by Judson Brewer [3/5 stars]</li>
      <li>The Secret Life of Groceries by Benjamin Lorr [4/5 stars]</li>
      <li>Project Hail Mary by Andy Weir [4/5 stars]</li>
  </ol>
  <h2>2021</h2>
  <ol reversed>
      <li>How to Live by Derek Sivers [4/5 stars]</li>
      <li>The Southern Book Club's Guide to Slaying Vampires by Grady Hendrix [4/5 stars]</li>
  </ol>
  <h2>2020</h2>
  <ol reversed>
      <li>Hell Yeah or No: What's Worth Doing by Derek Sivers</li>
      <li>The Checklist Manifesto: How to Get Things Right by Atul Gawande</li>
      <li>The Obstacle Is the Way: The Timeless Art of Turning Trials into Triumph by Ryan Holiday</li>
      <li>On Tyranny: Twenty Lessons from the Twentieth Century by Timothy Snyder</li>
      <li>Just Mercy by Bryan Stevenson</li>
      <li>The Great Mental Models: General Thinking Concepts by Shane Parrish</li>
      <li>How to Live: A Life of Montaigne in One Question and Twenty Attempts at an Answer by Sarah Bakewell</li>
      <li>The Half-life of Facts: Why Everything We Know Has an Expiration Date by Samuel Arbesman</li>
      <li>A Short History of Nearly Everything by Bill Bryson</li>
      <li>Creativity, Inc.: Overcoming the Unseen Forces That Stand in the Way of True Inspiration by Ed Catmull</li>
      <li>How to Be an Antiracist (One World Essentials) by Ibram X. Kendi</li>
      <li>The Immortal Life of Henrietta Lacks by Rebecca Skloot</li>
      <li>Proust and the Squid: The Story and Science of the Reading Brain by Maryanne Wolf</li>
      <li>Where Good Ideas Come From by Steven Johnson</li>
      <li>Man's Search for Meaning by Viktor E. Frankl</li>
      <li>Energy: A Human History by Richard Rhodes</li>
      <li>The Wright Brothers by David McCullough</li>
      <li>Wit and Wisdom from Poor Richard's Almanack (Modern Library Humor and Wit) by Benjamin Franklin</li>
      <li>Courage Under Fire: Testing Epictetus's Doctrines in a Laboratory of Human Behavior (Hoover Essays Book 6) by James B. Stockdale</li>
      <li>Radical Candor: Be a Kick-Ass Boss Without Losing Your Humanity by Kim Malone Scott</li>
      <li>The Victorian Internet: The Remarkable Story of the Telegraph and the Nineteenth Century's On-line Pioneers by Tom Standage</li>
      <li>Crime and Punishment by Fyodor Dostoevsky</li>
      <li>Antifragile: Things That Gain from Disorder by Nassim Nicholas Taleb</li>
      <li>Micromastery: Learn Small, Learn Fast, and Find the Hidden Path to Happiness by Robert Twigger</li>
      <li>The War on Normal People: The Truth About America's Disappearing Jobs and Why Universal Basic Income Is Our Future by Andrew   Yang</li>
      <li>Liar's Poker by Michael   Lewis</li>
      <li>Aha!: The Moments of Insight that Shape Our World by William B. Irvine</li>
      <li>Bad Blood: Secrets and Lies in a Silicon Valley Startup by John Carreyrou</li>
      <li>When: The Scientific Secrets of Perfect Timing by Daniel H. Pink</li>
      <li>Food Rules: An Eater's Manual by Michael Pollan</li>
      <li>Cat's Cradle by Kurt Vonnegut Jr.</li>
      <li>The Coddling of the American Mind: How Good Intentions and Bad Ideas Are Setting up a Generation for Failure by Jonathan Haidt</li>
      <li>The Hidden Life of Trees: What They Feel, How They Communicate — Discoveries from a Secret World by Peter Wohlleben</li>
      <li>The Second Mountain: The Quest for a Moral Life by David  Brooks</li>
  </ol>
  <h2>2019</h2>
  <ol reversed>
      <li>Building a Better World in Your Backyard: Instead of Being Angry at Bad Guys by Paul Wheaton</li>
      <li>Permanent Record by Edward Snowden</li>
      <li>How to Live Well Without Owning a Car: Save Money, Breathe Easier, and Get More Mileage Out of Life by Chris Balish</li>
      <li>Ultralearning: Master Hard Skills, Outsmart the Competition, and Accelerate Your Career by Scott H. Young</li>
      <li>The Stoic Challenge: A Philosopher's Guide to Becoming Tougher, Calmer, and More Resilient by William B. Irvine</li>
      <li>Range: Why Generalists Triumph in a Specialized World by David   Epstein</li>
      <li>Hooked: How to Build Habit-Forming Products by Nir   Eyal</li>
      <li>Circe by Madeline Miller</li>
      <li>Every Tool's a Hammer: Life Is What You Make It by Adam Savage</li>
      <li>Billion Dollar Whale: The Man Who Fooled Wall Street, Hollywood, and the World by Tom         Wright</li>
      <li>Obfuscation: A User's Guide for Privacy and Protest by Finn Brunton</li>
      <li>Digital Minimalism: Choosing a Focused Life in a Noisy World by Cal Newport</li>
      <li>The Dark Forest (Remembrance of Earth’s Past, #2) by Liu Cixin</li>
      <li>Kissing Fish: christianity for people who don’t like christianity by Roger Wolsey</li>
      <li>Extremely Loud &amp; Incredibly Close by Jonathan Safran Foer</li>
      <li>To Kill a Mockingbird by Harper Lee</li>
      <li>Transformative Experience by L.A. Paul</li>
      <li>Kindred by Octavia E. Butler</li>
      <li>Team Human by Douglas Rushkoff</li>
      <li>Educated by Tara Westover</li>
  </ol>
  <h2>2018 and before</h2>
  <ul>
      <li>The Three-Body Problem (Remembrance of Earth’s Past, #1) by Liu Cixin</li>
      <li>The Hitchhiker’s Guide to the Galaxy (The Hitchhiker's Guide to the Galaxy, #1) by Douglas Adams</li>
      <li>Ender’s Game (Ender's Saga, #1) by Orson Scott Card</li>
      <li>The Hunger Games (The Hunger Games, #1) by Suzanne Collins</li>
      <li>2001: A Space Odyssey (Space Odyssey, #1) by Arthur C. Clarke</li>
      <li>Ringworld (Ringworld, #1) by Larry Niven</li>
      <li>A Clockwork Orange by Anthony Burgess</li>
      <li>Cloud Atlas by David Mitchell</li>
      <li>The Long Earth (The Long Earth, #1) by Terry Pratchett</li>
      <li>Cryptonomicon by Neal Stephenson</li>
      <li>A Canticle for Leibowitz (St. Leibowitz, #1) by Walter M. Miller Jr.</li>
      <li>Spin (Spin, #1) by Robert Charles Wilson</li>
      <li>We Are Legion (We Are Bob) (Bobiverse, #1) by Dennis E. Taylor</li>
      <li>A Wrinkle in Time (Time Quintet, #1) by Madeleine L'Engle</li>
      <li>Redshirts by John Scalzi</li>
      <li>Seveneves by Neal Stephenson</li>
      <li>Snow Crash by Neal Stephenson</li>
      <li>The Forever War (The Forever War, #1) by Joe Haldeman</li>
      <li>Starship Troopers by Robert A. Heinlein</li>
      <li>Jurassic Park (Jurassic Park, #1) by Michael Crichton</li>
      <li>Ready Player One (Ready Player One, #1) by Ernest Cline</li>
      <li>Harry Potter and the Sorcerer's Stone (Harry Potter, #1) by J.K. Rowling</li>
      <li>The Adventures of Tom Sawyer by Mark Twain</li>
      <li>The Plague by Albert Camus</li>
      <li>Stranger in a Strange Land by Robert A. Heinlein</li>
      <li>The Martian by Andy Weir</li>
      <li>We by Yevgeny Zamyatin</li>
      <li>The Grapes of Wrath by John Steinbeck</li>
      <li>Do Androids Dream of Electric Sheep? by Philip K. Dick</li>
      <li>Foundation (Foundation, #1) by Isaac Asimov</li>
      <li>Catch-22 by Joseph Heller</li>
      <li>Animal Farm by George Orwell</li>
      <li>The Metamorphosis by Franz Kafka</li>
      <li>Fahrenheit 451 by Ray Bradbury</li>
      <li>1984 by George Orwell</li>
      <li>Brave New World by Aldous Huxley</li>
      <li>Sapiens: A Brief History of Humankind by Yuval Noah Harari</li>
      <li>Waking Up: A Guide to Spirituality Without Religion by Sam Harris</li>
      <li>The 4-Hour Workweek by Timothy Ferriss</li>
      <li>Enlightenment Now: The Case for Reason, Science, Humanism, and Progress by Steven Pinker</li>
      <li>21 Lessons for the 21st Century by Yuval Noah Harari</li>
      <li>The Prince by Niccolò Machiavelli</li>
      <li>Secrets of Mental Math: The Mathemagician's Guide to Lightning Calculation and Amazing Math Tricks by Arthur T. Benjamin</li>
      <li>What If?: Serious Scientific Answers to Absurd Hypothetical Questions by Randall Munroe</li>
      <li>The Memory Book: The Classic Guide to Improving Your Memory at Work, at School, and at Play by Harry Lorayne</li>
      <li>The E-myth Revisited by Michael E. Gerber</li>
      <li>A Random Walk Down Wall Street: The Time-Tested Strategy for Successful Investing by Burton G. Malkiel</li>
      <li>Your Money or Your Life by Joe Dominguez</li>
      <li>10% Happier by Dan   Harris</li>
      <li>The Millionaire Next Door: The Surprising Secrets of America's Wealthy by Thomas J. Stanley</li>
      <li>Remote: Office Not Required by David Heinemeier Hansson</li>
      <li>Moonwalking with Einstein: The Art and Science of Remembering Everything by Joshua Foer</li>
      <li>Drive: The Surprising Truth About What Motivates Us by Daniel H. Pink</li>
      <li>The Power of Now: A Guide to Spiritual Enlightenment by Eckhart Tolle</li>
      <li>Meditations by Marcus Aurelius</li>
      <li>The Richest Man in Babylon by George S. Clason</li>
      <li>Factfulness: Ten Reasons We're Wrong About the World – and Why Things Are Better Than You Think by Hans Rosling</li>
      <li>The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life by Mark Manson</li>
      <li>Peak: Secrets from the New Science of Expertise by K. Anders Ericsson</li>
      <li>Rich Dad, Poor Dad by Robert T. Kiyosaki</li>
      <li>Think and Grow Rich by Napoleon Hill</li>
      <li>Grit: The Power of Passion and Perseverance by Angela Duckworth</li>
      <li>How to Win Friends &amp; Influence People by Dale Carnegie</li>
      <li>The 7 Habits of Highly Effective People: Powerful Lessons in Personal Change by Stephen R. Covey</li>
      <li>Why We Sleep: Unlocking the Power of Sleep and Dreams by Matthew Walker</li>
      <li>Deep Work: Rules for Focused Success in a Distracted World by Cal Newport</li>
      <li>The Selfish Gene by Richard Dawkins</li>
      <li>A Brief History of Time by Stephen Hawking</li>
      <li>The Tipping Point: How Little Things Can Make a Big Difference by Malcolm Gladwell</li>
      <li>Flow: The Psychology of Optimal Experience by Mihály Csíkszentmihályi</li>
      <li>Early Retirement Extreme: A Philosophical and Practical Guide to Financial Independence by Jacob Lund Fisker</li>
      <li>Fire and Fury: Inside the Trump White House by Michael  Wolff</li>
      <li>I Will Teach You to Be Rich: No Guilt. No Excuses. No BS. Just a 6-Week Program That Works by Ramit Sethi</li>
  </ul>
{% endblock %}
