<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/styles.css">
  <title>{{ title }}</title>
  <link rel="alternate" type="application/rss+xml" title="TristanHavelick.com" href="/rss.xml">
</head>
<body>
  <div>
    <div>
      <div>
        <div class="title-outer">
          <div class="title-inner">
            <h1><a href="/">{{ title }}</a></h1>
          </div>
        </div>
        <div class="content">
          <h1>Me in 10 seconds</h1>
          <p>I'm a thinker, software engineer and manager, reader, arm chair scientist, and amateur philosopher.
             I believe in focusing on the long term over the short, and that done is better than perfect.
             I grew up and live in the Denver area but have a soft spot for San Francisco and Portland, OR.</p>
          <h1>Games</h1>
          <p>See the <a href="/games">Games</a> I've made (or worked on)</p>
          <h1>Books</h1>
          <p>See what books I've been <a href="/books">reading</a></p>
          <h1>Blogroll</h1>
          <p>See the blogs I <a href="/blogroll">follow</a></p>
          <h1>Recipes</h1>
          <p>A collection of things I frequently <a href="/recipes/">cook</a></p>
          <h1>Newest Articles</h1>
          <ul>
            {% for article in articles %}
            <li>
              <a href="/{{ article['slug'] }}">{{ article['title'] }}</a>
            </li>
            {% else %}
            <li>No articles found.</li>
            {% endfor %}
          </ul>
          <ul style="list-style-type:none">
            <li>
              <a href="/blog">All Articles</a> - <a href="/rss.xml">RSS</a>
            </li>
          </ul>
          <div class="h-card">
            <h1>Around the web</h1>
            <ul>
              <li>
                <a class="u-url" href="https://social.linux.pizza/@Natris1979" rel="me">Mastodon</a>
              </li>
              <li>
                <a class="u-url" href="https://github.com/thavelick/" rel="me">GitHub</a>
              </li>
              <li>
                <a class="u-url" href="https://stackoverflow.com/users/30529/tristan-havelick" rel="me">Stack Overflow</a>
              </li>
              <li>
                <a class="u-url" href="https://www.facebook.com/thavelick" rel="me">
                  Facebook
                </a> - I don't really post here anymore
              </li>
              <li>
                <a class="u-url" href="https://twitter.com/thavelick/" rel="me">Twitter</a> - Mostly for replys
              </li>
            </ul>
          </div>
          <h1>On the Old Web</h1>
          <p>An <a href="/archive">Archive</a> of my websites from years past</p>

          <img class="mePhoto u-photo" src="/static/me.jpg" alt="Tristan Havelick">
        </div>
      </div>
    </div>
  </div>
</body>
</html>
